<h2 class="ml-4 title_main_page_margin">
  Групові замовлення
</h2>
<!-- ------------------------------------------------- GROUP ORDER MAIN - MENU BAR ----------------------------------------------------- -->
<div class="ml-4 mr-4 pl-0 pr-0 clearfix">
  <div class="col-md-10 pl-0 pr-0 float-left">
    <div class="d-inline pl-0 mr-my-1">
      <!--  "#myGroupOrderModal" -->
      <button (click)="openDialog()" type="button" class="btn btn-default my_button_style">
        <span class="material-icons">playlist_add</span>
        <span class="my_button_label">Створити</span>
      </button>
    </div>
    <div class="d-inline mr-my-1">
      <button type="button" class="btn btn-default my_button_style my_square_button" matTooltip="Скопіювати">
        <span class="material-icons">filter_none</span>
      </button>
    </div>
    <div class="d-inline mr-my-1">
      <button type="button" class="btn btn-default my_button_style my_square_button" matTooltip="Змінити">
        <span class="material-icons">edit</span>
      </button>
    </div>
    <div class="d-inline mr-my-1">
      <button type="button" class="btn btn-default my_button_style my_square_button" matTooltip="Відмінити для вилучення/Зняти позначку">
        <span class="material-icons">remove_from_queue</span>
      </button>
    </div>
    <div class="d-inline mr-my-1">
      <button type="button" class="btn btn-default my_button_style my_square_button" matTooltip="Встановити період...">
        <span class="material-icons">access_time</span>
      </button>
    </div>
    <div class="d-inline mr-my-1">
      <button type="button" class="btn btn-default my_button_style">
        <span class="material-icons">location_searching</span>
        <span class="my_button_label">Знайти</span>
      </button>
    </div>
    <div class="d-inline mr-my-1">
      <button type="button" class="btn btn-default my_button_style my_square_button" matTooltip="Відмінити пошук">
        <span class="material-icons">location_disabled</span>
      </button>
    </div>
    <div class="d-inline mr-my-1">
      <button type="button" class="btn btn-default my_button_style">
        <span class="material-icons"> filter_tilt_shift</span>
        <span class="my_button_label">Підбір</span>
      </button>
    </div>
    <div class="d-inline mr-my-1">
      <button class="btn btn-default my_button_style" mat-button [matMenuTriggerFor]="PrintMenu">Друк
        <span class="material-icons">keyboard_arrow_down</span>
      </button>
      <mat-menu #PrintMenu="matMenu">
        <button (click)="openPrintInvoice()" mat-menu-item class="my_menu_label">Друк акта</button>
        <button mat-menu-item class="my_menu_label">Друк накладної</button>
        <button mat-menu-item class="my_menu_label">Друк рахунка</button>
        <button mat-menu-item class="my_menu_label">Друк рахунка з печаткою</button>
      </mat-menu>
    </div>
  </div> <!-- Button Row - End -->
  <!-- DropDown ALL Actions -->
  <div class="col-md-2 pl-0 pr-0 float-right">
    <div id="referencesButton" class="d-inline ml-my-1 float-right">
      <button type="button" class="btn btn-default my_button_style my_square_button" matTooltip="Довідка">
        <span class="material-icons">help_outline</span>
      </button>
    </div>
    <div class="allActionsMenu d-inline mr-my-1 float-right">
      <button class="btn btn-default my_button_style" mat-button [matMenuTriggerFor]="menu">Всі дії
        <span class="material-icons">keyboard_arrow_down</span>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <div class="d-inline mr-3 my_menu_icon">
            <span class="material-icons">playlist_add</span>
          </div>
          <span class="d-inline my_menu_label">Створити</span>
        </button>
        <button mat-menu-item>
          <div class="d-inline mr-3 my_menu_icon">
            <span class="material-icons">filter_none</span>
          </div>
          <span class="d-inline my_menu_label">Скопіювати</span>
        </button>
        <button mat-menu-item>
          <div class="d-inline mr-3 my_menu_icon">
            <span class="material-icons">edit</span>
          </div>
          <span class="d-inline my_menu_label">Змінити</span>
        </button>
        <button mat-menu-item>
          <div class="d-inline mr-3 my_menu_icon">
            <span class="material-icons">remove_from_queue</span>
          </div>
          <span class="d-inline my_menu_label">Відмітити для вилучення / Зняти позначку</span>
        </button>
        <button mat-menu-item>
          <div class="d-inline mr-3 my_menu_icon">
            <span class="material-icons">refresh</span>
          </div>
          <span class="d-inline my_menu_label">Оновити</span>
        </button>
        <button mat-menu-item>
          <div class="d-inline mr-3 my_menu_icon">
            <span class="material-icons">access_time</span>
          </div>
          <span class="d-inline my_menu_label">Встановити період...</span>
        </button>
        <button mat-menu-item>
          <div class="d-inline mr-3 my_menu_icon">
            <span class="material-icons">offline_pin</span>
          </div>
          <span class="d-inline my_menu_label">Провести</span>
        </button>
        <button mat-menu-item>
          <div class="d-inline mr-3 my_menu_icon">
            <span class="material-icons">highlight_off</span>
          </div>
          <span class="d-inline my_menu_label">Відмінити проведення</span>
        </button>
        <button mat-menu-item>
          <span class="empty-icon d-inline my_menu_label">Знайти: Дата - 14.08.2018</span>
          <div class="d-inline mr-3 my_menu_icon">
            <span class="material-icons">chevron_right</span>
          </div>
        </button>
        <button mat-menu-item>
          <div class="d-inline mr-3 my_menu_icon">
            <span class="material-icons">location_searching</span>
          </div>
          <span class="d-inline my_menu_label">Знайти...</span>
        </button>
        <button mat-menu-item>
          <div class="d-inline mr-3 my_menu_icon">
            <span class="material-icons">location_disabled</span>
          </div>
          <span class="d-inline my_menu_label">Відмінити пошук</span>
        </button>
        <button mat-menu-item>
          <div class="d-inline mr-3 my_menu_icon">
            <span class="material-icons">settings</span>
          </div>
          <span class="d-inline my_menu_label">Настроїти список...</span>
        </button>
        <button mat-menu-item>
          <div class="d-inline mr-3 my_menu_icon">
            <span class="material-icons"> done_all</span>
          </div>
          <span class="d-inline my_menu_label">Вивести список...</span>
        </button>
        <button mat-menu-item>
          <div class="d-inline mr-3 my_menu_icon">
            <span class="material-icons"> filter_tilt_shift</span>
          </div>
          <span class="d-inline my_menu_label">Підбір</span>
        </button>
        <button mat-menu-item>
          <span class="empty-icon d-inline my_menu_label">Друк</span>
          <div class="d-inline mr-3 my_menu_icon">
            <span class="material-icons">chevron_right</span>
          </div>
        </button>

        <button mat-menu-item>
          <div class="d-inline mr-3 my_menu_icon">
            <span class="material-icons">transform</span>
          </div>
          <span class="d-inline my_menu_label">Змінити форму...</span>
        </button>
        <button mat-menu-item>
          <div class="d-inline mr-3 my_menu_icon">
            <span class="material-icons"> help_outline</span>
          </div>
          <span class="d-inline my_menu_label">Довідка</span>
        </button>

      </mat-menu>
    </div>
  </div> <!-- DropDown ALL Actions end-->
</div> <!--Row MENU Buttons End-->
<!-- -------------------------------------------------- GROUP ORDER MAIN - MENU BAR END ----------------------------------------------------- -->
<!-- ------------------------------------------------------------ TABLE GROUP ORDER --------------------------------------------------------- -->
<div class="ml-4 mr-4 mt-2 my_table_style">
  <div class="col-md-12 pl-0 pr-0 mb-0 table-responsive">
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th scope="col">Дата</th>
          <th scope="col">Номер</th>
          <th scope="col">Опл</th>
          <th scope="col">Контрагент</th>
          <th scope="col">Зміст</th>
          <th scope="col">Агент</th>
          <th scope="col">Відповідальний</th>
          <th scope="col">Коментар</th>
          <th scope="col">&nbsp;</th>
          <th scope="col">&nbsp;</th>
          <th scope="col">&nbsp;</th>
          <th scope="col">&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr class="main">
          <td class="text-center" scope="row">1</td>
          <td class="text-center">2</td>
          <td class="text-center">3</td>
          <td class="text-center">4</td>
          <td class="text-center">5</td>
          <td class="text-center">6</td>
          <td class="text-center">7</td>
          <td class="text-center">8</td>
          <td class="text-center">9</td>
          <td class="text-center">10</td>
          <td class="text-center">11</td>
          <td class="text-center">12</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<!------------------------------------------------------------- TABLE GROUP ORDER - END ---------------------------------------------------------->

<!--------------------------------------------------------- BILLS (FIND) - POPUP ----------------------------------------------------------->

<div id="myFindBills" class="modal fade" role="dialog">
  <div class="modal-dialog my_modal_sm">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title title_small">Знайти</h2>
      </div>
      <!-- Modal Body -->
      <div class="modal-body">
        <!------------------------------------------- BILLS (FIND) POPUP - FORM ------------------------------------------------>
        <div id="my_find_form" class="row my_popup_form">
          <form class="form-horizontal" role="form">
            <div class="form-group">
              <div class="my_input_style col-lg-12 col-md-12 col-sm-12">
                <label for="sel1">Де шукати</label>
                <select class="my_input_style form-control my_select_style" id="sel1">
                  <option>Контрагент</option>
                  <option>Документ сплати</option>
                  <option>Сума</option>
                  <option>Валюта</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <div class="my_input_style col-lg-12 col-md-12 col-sm-12">
                <label class="control-label">Що шукати</label>
                <input type="text" class="form-control" />
              </div>
            </div>
            <div class="form-group">
              <div class="my_input_style col-lg-12 col-md-12 my_radio_buttons">
                <label class="control-label my_radio_label">Як шукати:</label>
                <label class="radio-inline">
                  <input type="radio" name="optradio" class="my_radio_class">За початком рядка
                </label>
                <label class="radio-inline">
                  <input type="radio" name="optradio" class="my_radio_class">За частинкою рядка
                </label>
                <label class="radio-inline">
                  <input type="radio" name="optradio" class="my_radio_class">За точним збігом
                </label>
              </div>
            </div>
          </form>
        </div>
        <!-- Airports Popup Form Row End -->
        <!--------------------------------------- BILLS (FIND) POPUP - FORM - END ------------------------------------------------>
      </div>
      <!-- Modal Body End -->
      <div class="modal-footer">
        <div class="pull-right button_left_margin">
          <button type="button" class="btn btn-default my_button_style my_square_button outer_modal_footer_button" title="Довідка">
            <span class="fa fa-question"></span>
          </button>
        </div>
        <div class="pull-right button_right_margin" data-dismiss="modal">
          <button type="button" class="btn btn-default my_button_style">
            Закрити
          </button>
        </div>
        <div class="pull-right button_right_margin">
          <button type="button" class="btn btn-default my_button_style font-weight-bold">
            <span class="fa fa-search-minus"></span>
            Знайти
          </button>
        </div>
      </div>
    </div>
    <!-- Modal Content End -->
  </div>
  <!-- Modal Dialog End-->
</div>

<!---------------------------------------------------- BILLS (FIND) POPUP - END --------------------------------------------------------------->