<h2 class="title_small title_main_page_margin">
  Групові замовлення
</h2>

<!-- ------------------------------------------------- GROUP ORDER MAIN - MENU BAR ----------------------------------------------------- -->

<div class="row">

  <div class="container col-md-12">
    <div class="col-md-10">
      <div class="pull-left button_right_margin">
        <!--  "#myGroupOrderModal" -->
        <button (click)="openDialog()" type="button" class="btn btn-default my_button_style bold">
          <span class="material-icons">playlist_add</span>
          <span class="my_button_label">Створити</span>
        </button>
      </div>

      <div class="pull-left button_right_margin">
        <button type="button" class="btn btn-default my_button_style my_square_button" matTooltip="Скопіювати">
          <span class="material-icons">filter_none</span>
        </button>
      </div>

      <div class="pull-left button_right_margin">
        <button type="button" class="btn btn-default my_button_style my_square_button" matTooltip="Змінити">
          <span class="material-icons">edit</span>
        </button>
      </div>

      <div class="pull-left button_right_margin">
        <button type="button" class="btn btn-default my_button_style my_square_button" matTooltip="Відмінити для вилучення/Зняти позначку">
          <span class="material-icons">remove_from_queue</span>
        </button>
      </div>

      <div class="pull-left button_right_margin">
        <button type="button" class="btn btn-default my_button_style my_square_button" matTooltip="Встановити період...">
          <span class="material-icons">access_time</span>
        </button>
      </div>

      <div class="pull-left button_right_margin">
        <button type="button" class="btn btn-default my_button_style">
          <span class="material-icons">location_searching</span>
          <span class="my_button_label">Знайти</span>

        </button>
      </div>

      <div class="pull-left button_right_margin">
        <button type="button" class="btn btn-default my_button_style my_square_button" matTooltip="Відмінити пошук">
          <span class="material-icons">location_disabled</span>
        </button>
      </div>

      <div class="pull-left button_right_margin">
        <button type="button" class="btn btn-default my_button_style">

          <span class="material-icons"> filter_tilt_shift</span>
          <span class="my_button_label">Підбір</span>

        </button>
      </div>

      <div class="btn-group pull-left button_right_margin">
        <button type="button" class="btn btn-default my_button_style dropdown-toggle" data-toggle="dropdown">

          <span class="my_menu_label_after">Друк</span>
          <span class="material-icons">keyboard_arrow_down</span>
        </button>
        <ul class="dropdown-menu my_dropdown_styles small_list" role="menu">
          <li>
            <a href="#">Друк акта</a>
          </li>
          <li>
            <a href="#">Друк накладної</a>
          </li>
          <li>
            <a href="#">Друк рахунка</a>
          </li>
          <li>
            <a href="#">Друк рахунка з печаткою</a>
          </li>
        </ul>
      </div>

    </div>

    <!-- DropDown ALL Actions -->

    <div class="col-md-2">

      <div class="pull-right button_left_margin">
        <button type="button" class="btn btn-default my_button_style my_square_button" matTooltip="Довідка">
          <span class="material-icons">help_outline</span>
        </button>
      </div>

      <div class="btn-group pull-right">
        <button type="button" class="btn btn-default my_button_style dropdown-toggle" data-toggle="dropdown">

          <span class="my_menu_label_after">Всі дії</span>
          <span class="material-icons">keyboard_arrow_down</span>
        </button>
        <ul class="dropdown-menu my_dropdown_styles large_list" role="menu">
          <li>
            <a href="#">
              <div class="my_menu_icon">
                <span class="material-icons">playlist_add</span>
              </div>
              <span class="my_menu_label">Створити</span>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="my_menu_icon">
                <span class="material-icons">filter_none</span>
              </div>
              <span class="my_menu_label">Скопіювати</span>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="my_menu_icon">
                <span class="material-icons">edit</span>
              </div>
              <span class="my_menu_label">Змінити</span>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="my_menu_icon">
                <span class="material-icons">remove_from_queue</span>
              </div>
              <span class="my_menu_label">Відмітити для вилучення / Зняти позначку</span>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="my_menu_icon">
                <span class="material-icons">refresh</span>
              </div>
              <span class="my_menu_label">Оновити</span>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="my_menu_icon">
                <span class="material-icons">swap_horiz</span>
              </div>
              <span class="my_menu_label">Встановити період...</span>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="my_menu_icon">
                <span class="material-icons">offline_pin</span>
              </div>
              <span class="my_menu_label">Провести</span>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="my_menu_icon">
                <span class="material-icons">highlight_off</span>
              </div>
              <span class="my_menu_label">Відмінити проведення</span>
            </a>
          </li>
          <li>
            <a href="#" class="empty_icon">
              <span class="pull-right"></span>Знайти: Дата - 14.08.2018
            </a>
          </li>
          <li>
            <a href="#">
              <div class="my_menu_icon">
                <span class="material-icons">location_searching</span>
              </div>
              <span class="my_menu_label">Знайти...</span>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="my_menu_icon">
                <span class="material-icons">location_disabled</span>
              </div>
              <span class="my_menu_label">Відмінити пошук</span>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="my_menu_icon">
                <span class="material-icons">settings</span>
              </div>
              <span class="my_menu_label">Настроїти список...</span>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="my_menu_icon">
                <span class="material-icons">done_outline
                </span>
              </div>
              <span class="my_menu_label">Вивести список...</span>
            </a>
          </li>
          <li>
            <a href="#">

              <div class="my_menu_icon">
                <span class="material-icons"> filter_tilt_shift</span>
              </div>
              <span class="my_menu_label">Підбір</span>
            </a>
          </li>

          <li>
            <a href="#" class="empty_icon">

              <span class="my_menu_label">Друк</span>
              <div class="my_menu_icon">
                <span class="material-icons"> chevron_right</span>
              </div>
            </a>
          </li>
          <li>
            <a href="#">

              <div class="my_menu_icon">
                <span class="material-icons"> transform</span>
              </div>
              <span class="my_menu_label">Змінити форму...</span>

            </a>
          </li>
          <li>
            <a href="#">

              <div class="my_menu_icon">
                <span class="material-icons"> help_outline</span>
              </div>
              <span class="my_menu_label">Довідка</span>
            </a>
          </li>
        </ul>
      </div>

    </div>
    <!-- DropDown ALL Actions end-->

  </div>
  <!--Container MENU Buttons End-->

</div>
<!--Row MENU Buttons End-->
<!-- -------------------------------------------------- GROUP ORDER MAIN - MENU BAR END ----------------------------------------------------- -->
<!-- ------------------------------------------------------------ TABLE GROUP ORDER --------------------------------------------------------- -->

<div class="row my_table_style">
  <div class="table-responsive col-md-12">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>Дата</th>
          <th>Номер</th>
          <th>Опл</th>
          <th>Контрагент</th>
          <th>Зміст</th>
          <th>Агент</th>
          <th>Відповідальний</th>
          <th>Коментар</th>
          <th>&nbsp;</th>
          <th>&nbsp;</th>
          <th>&nbsp;</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!------------------------------------------------------------- TABLE GROUP ORDER - END ---------------------------------------------------------->
<!------------------------------------------------------------------------------------------------------------------------------------------------>


<!--------------------------------------------------------- BILLS (FIND) - POPUP ----------------------------------------------------------->

<div id="myFindBills" class="modal fade" role="dialog">
  <div class="modal-dialog my_modal_sm">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title title_small">Знайти</h2>
      </div>
      <!-- Modal Body -->
      <div class="modal-body">

        <!------------------------------------------- BILLS (FIND) POPUP - FORM ------------------------------------------------>

        <div id="my_find_form" class="row my_popup_form">

          <form class="form-horizontal" role="form">
            <div class="form-group">
              <div class="my_input_style col-lg-12 col-md-12 col-sm-12">
                <label for="sel1">Де шукати</label>
                <select class="my_input_style form-control my_select_style" id="sel1">
                  <option>Контрагент</option>
                  <option>Документ сплати</option>
                  <option>Сума</option>
                  <option>Валюта</option>
                </select>
              </div>
            </div>

            <div class="form-group">
              <div class="my_input_style col-lg-12 col-md-12 col-sm-12">
                <label class="control-label">Що шукати</label>
                <input type="text" class="form-control" />
              </div>
            </div>

            <div class="form-group">
              <div class="my_input_style col-lg-12 col-md-12 my_radio_buttons">
                <label class="control-label my_radio_label">Як шукати:</label>
                <label class="radio-inline">
                  <input type="radio" name="optradio" class="my_radio_class">За початком рядка
                </label>
                <label class="radio-inline">
                  <input type="radio" name="optradio" class="my_radio_class">За частинкою рядка
                </label>
                <label class="radio-inline">
                  <input type="radio" name="optradio" class="my_radio_class">За точним збігом
                </label>
              </div>
            </div>

          </form>
        </div>
        <!-- Airports Popup Form Row End -->
        <!--------------------------------------- BILLS (FIND) POPUP - FORM - END ------------------------------------------------>

      </div>
      <!-- Modal Body End -->
      <div class="modal-footer">
        <div class="pull-right button_left_margin">
          <button type="button" class="btn btn-default my_button_style my_square_button outer_modal_footer_button" title="Довідка">
            <span class="fa fa-question"></span>
          </button>
        </div>
        <div class="pull-right button_right_margin" data-dismiss="modal">
          <button type="button" class="btn btn-default my_button_style">
            Закрити
          </button>
        </div>

        <div class="pull-right button_right_margin">
          <button type="button" class="btn btn-default my_button_style bold">
            <span class="fa fa-search-minus"></span>
            Знайти
          </button>
        </div>

      </div>
    </div>
    <!-- Modal Content End -->
  </div>
  <!-- Modal Dialog End-->
</div>

<!---------------------------------------------------- BILLS (FIND) POPUP - END --------------------------------------------------------------->