/* CONTRACTS POPUP */

#contracts_main_tab h3.title_small_2{
    margin-bottom: 15px;
    margin-top: 10px;
}

.my_input_style.commentary{
    margin-top: 2px;
}

#contracts_main_tab .input-group-btn span.my_input_icon, #accounting_tax .input-group-btn span.my_input_icon {
    font-size: 11px;
    bottom: 0;
}

.my_checkbox_label-align{
    text-align: left !important;
} /* CONTRACTS POPUP end */
