<div class="wrapper">
  <nav id="sidebar_wrapper" class="navbar navbar-inverse">
    <div class="sidebar_header">
      <a href="#">
        <img src="../../assets/img/logo_small.png" alt="logo" class="sidebar_header_logo" />
      </a>
    </div>
    <div class="nav sidebar-nav">
      <ul class="sidebar_items_collection">
        <li class="sidebar_items">
          <div class="col-md-8">
            <a class="sidebar_item_title" href="#">
              Робочий стіл
            </a>
          </div>
          <div class="col-sm-4">
            <span class="sibebar_icons">
              <i class="fa fa-home fa-lg"></i>
            </span>
          </div>
        </li>
        <li class="sidebar_items">
          <div class="col-md-8">
            <div class="container my_dropdown_container">
              <a class="sidebar_item_title dropdown-toggle" href="#" data-toggle="dropdown">
                <span class="caret pull-right"></span>Авіаквитки
              </a>
              <ul class="dropdown-menu submenu_items_collection list-unstyled">
                <li class="submenu_items">
                  <div class="col-md-12">
                    <a href="#">Групові замовлення</a>
                    <!--@Ajax.ActionLink("Групові замовлення", "GroupOrder", new { controller = "GroupOrders", area = "AviaTickets" }, new AjaxOptions() { UpdateTargetId = "mainWindow", OnSuccess = "createTabsInAvia" })-->
                  </div>
                </li>
                <li class="submenu_items">
                  <div class="col-md-12">
                    <a href="#">Накладна авіаційних квитків</a>
                    <!-- @Ajax.ActionLink("Накладна авіаційних квитків", "Invoice", new { controller = "Invoice", area = "AviaTickets" }, new AjaxOptions() { UpdateTargetId = "mainWindow", OnSuccess = "createTabsInAvia" })-->
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-4">
            <span class="sibebar_icons">
              <i class="fa fa-plane fa-lg"></i>
            </span>
          </div>
        </li>
        <li class="sidebar_items">
          <div class="col-md-8">
            <a class="sidebar_item_title" href="#">
              Залізничні квитки
            </a>
          </div>
          <div class="col-md-4">
            <span class="sibebar_icons">
              <i class="fa fa-train fa-lg"></i>
            </span>
          </div>
        </li>
        <li class="sidebar_items">
          <div class="col-md-8">
            <a class="sidebar_item_title" href="#">
              Страхування
            </a>
          </div>
          <div class="col-md-4">
            <span class="sibebar_icons">
              <i class="fa fa-shield fa-lg"></i>
            </span>
          </div>
        </li>
        <li class="sidebar_items">
          <div class="col-md-8">
            <a class="sidebar_item_title" href="#">
              Туризм
            </a>
          </div>
          <div class="col-md-4">
            <span class="sibebar_icons">
              <i class="fa fa-globe fa-lg"></i>
            </span>
          </div>
        </li>

        <li class="sidebar_items">
          <div class="col-md-8">
            <div class="container my_dropdown_container">
              <a class="sidebar_item_title dropdown-toggle" href="#" data-toggle="dropdown">
                <span class="caret pull-right"></span>Довідники
              </a>
              <ul id="directories_dropdown" class="dropdown-menu submenu_items_collection list-unstyled">
                <li class="submenu_items">
                  <div class="col-md-9">
                    <a href="#">Авіакомпанії</a>
                  <!--  @Ajax.ActionLink("Авіакомпанії", "Index", new { controller = "AviaCompany", area = "ReferencesAvia" }, new AjaxOptions() { UpdateTargetId = "mainWindow", OnSuccess = "test" })-->
                  </div>
                </li>
                <li class="submenu_items">
                  <div class="col-md-9">
                    <a href="#">Аеропорти</a>
                    <!--  @Ajax.ActionLink("Аеропорти", "Index", new { controller = "Airports", area = "ReferencesAvia" }, new AjaxOptions() { UpdateTargetId = "mainWindow" })-->
                  </div>
                </li>
                <li class="submenu_items">
                  <div class="col-md-9">
                    <a href="#">Види сервісів</a>
                    <!--  @Ajax.ActionLink("Види сервісів", "Index", new { controller = "Services", area = "ReferencesAvia" }, new AjaxOptions() { UpdateTargetId = "mainWindow" })-->
                  </div>
                </li>
                <li class="submenu_items">
                  <div class="col-md-9">
                    <a href="#"></a>
                    <!-- @Ajax.ActionLink("Договори контрагентів", "Index", new { controller = "Contracts", area = "ReferencesAvia" }, new AjaxOptions() { UpdateTargetId = "mainWindow", OnSuccess = "createTabsInAvia" })-->
                  </div>
                </li>
                <li class="submenu_items">
                  <div class="col-md-9">
                    <a href="#"></a>
                    <!-- @Ajax.ActionLink("Контрагенти", "Index", new { controller = "Counterparties", area = "ReferencesAvia" }, new AjaxOptions() { UpdateTargetId = "mainWindow", OnSuccess = "createTabsInAvia" })-->
                  </div>
                </li>
                <li class="submenu_items">
                  <div class="col-md-9">
                    <a href="#"></a>
                    <!-- @Ajax.ActionLink("Куратори", "Index", new { controller = "Curators", area = "ReferencesAvia" }, new AjaxOptions() { UpdateTargetId = "mainWindow" })-->
                  </div>
                </li>
                <li class="submenu_items">
                  <div class="col-md-9">
                    <a href="#"></a>
                    <!-- @Ajax.ActionLink("Населені пункти", "Index", new { controller = "Settlements", area = "ReferencesAvia" }, new AjaxOptions() { UpdateTargetId = "mainWindow" })-->
                  </div>
                </li>
                <li class="submenu_items">
                  <div class="col-md-9">
                    <a href="#"></a>
                    <!--  @Ajax.ActionLink("Номенклатура", "Index", new { controller = "Nomenclature", area = "ReferencesAvia" }, new AjaxOptions() { UpdateTargetId = "mainWindow", OnSuccess = "createTabsInAvia" })-->
                  </div>
                </li>
                <li class="submenu_items">
                  <div class="col-md-9">
                    <a href="#"></a>
                    <!--  @Ajax.ActionLink("Обмін валют", "Index", new { controller = "CurrencyExchange", area = "ReferencesAvia" }, new AjaxOptions() { UpdateTargetId = "mainWindow" })-->
                  </div>
                </li>
                <li class="submenu_items">
                  <div class="col-md-9">
                    <a href="#"></a>
                    <!--  @Ajax.ActionLink("Фізичні особи контрагентів", "Index", new { controller = "PhysicalPerson", area = "ReferencesAvia" }, new AjaxOptions() { UpdateTargetId = "mainWindow", OnSuccess = "createTabsInAvia" })-->
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-4">
            <span class="sibebar_icons">
              <i class="fa fa-info-circle fa-lg"></i>
            </span>
          </div>
        </li>
      </ul>
    </div>

  </nav>

  <div class="page_content_wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="page_header col-md-12">
          <a href="#">
            <img src="../../assets/img/logo_small.png" alt="logo" class="sidebar_header_logo" />
          </a>
        </div>
      </div>

      <div class="page_items_wrapper col-md-12">
        <!-- <avia-invoice></avia-invoice> -->
        <avia-group-invoice></avia-group-invoice>
      </div>

    </div>
  </div>
</div>
