

body, ul {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f5f5f5;
  width: 100%;
  height: 100vh;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

/* ====================================== BOOTSTRAP CLASSES ======================================== */


/* ====================================== BOOTSTRAP CLASSES -- END ================================= */

/* SIDEBAR */
#sidebar_wrapper {
  border-radius: 0px 4px 4px 0 !important;
  width: 320px;
  height: 100%;
  background-color: #2b303b;
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 10;
  left: -250px;
  -moz-transition: left .2s;
  -o-transition: left .2s;
  -webkit-transition: left .2s;
  transition: left .2s;
}

  #sidebar_wrapper:hover {
    left: 0;
  }

.sidebar_header_logo {
  height: 75%;
  margin-top: 9px;
  margin-left: 25px;
}

.sidebar_header {
  background-color: #272b35;
  border-bottom: 1px solid #232730;
  width: 100%;
  height: 70px;
}

.sidebar_items {
  width: 100%;
  height: 50px;
  line-height: 50px;
}

li.sidebar_items:hover .sidebar_item_title {
  color: #ffffff !important;
  text-decoration: none;
}

li.sidebar_items:hover i {
  color: #ffffff !important;
}

a {
  color: #788195;
}

.sidebar_item_title:focus {
  color: #ffffff !important;
  background-color: transparent !important;
  text-decoration: none !important;
}

  .sidebar_item_title:focus i {
    color: #ffffff !important;
  }

.sidebar_items_collection {
  width: 100%;
  margin-top: 30px;
  padding-left: 15px;
  list-style: none;
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif;
}

.sibebar_icons {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: #21252d;
  position: relative;
  left: 0;
  float: right;
  line-height: 40px;
  text-align: center;
  vertical-align: middle;
  margin-top: 5px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50% 50%;
}

span > i {
  color: #788195;
}

#problem_icon {
  padding-left: 5px;
}

/* SUBMENU DROPDOWN */


.submenu_items_collection {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 10px;
  list-style: none;
  font-size: 0.8em;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
  color: #788195;
}

  .submenu_items_collection:focus {
    color: #ffffff;
  }

#directories_dropdown {
  height: 213px;
}

ul.dropdown-menu {
  width: 275px;
  background-color: transparent;
  border: none;
  box-shadow: none;
  padding-left: 15px;
}

  ul.dropdown-menu.submenu_items_collection.list-unstyled {
    padding-bottom: 0;
    margin-right: 0;
  }

div.container.my_dropdown_container {
  width: 190px;
  padding-left: 0;
}

a.dropdown-toggle:focus {
  background-color: transparent;
}

.submenu_items {
  width: 100%;
  height: 30px;
  line-height: 30px;
}

  .submenu_items a:hover {
    color: #ffffff !important;
    text-decoration: none;
  }

span.caret.pull-right {
  display: inline-block;
  margin-top: 22px;
}

.container .submenu_items_collection {
  position: static;
  float: none;
}

div.container-fluid {
  padding: 0 !important;
}

/* ====================================== MAIN PAGE ======================================== */

/* PAGE HEADER */

.page_header {
  border-bottom: 1px solid rgba(230,230,230,0.7);
  background-color: #ffffff;
  height: 71px;
  padding-right: 0;
}

div.page_header {
  padding-left: 0;
}

/* PAGE CONTENT */

.page_content_wrapper {
  margin-left: 70px;
}

div#mainWindow.container {
  margin: 0;
}

div.row {
  margin-right: 0;
  margin-left: 0;
}

/* ====================================== MEDIA QUERIES ======================================== */



