
/* COUNTERPARTIES POPUP */

/* counterparties create popup layout */

#counterparties_general .input-group-btn span.my_input_icon, #counterparties_others .input-group-btn span.my_input_icon, #counterparties_contacts .input-group-btn span.my_input_icon, #counterparties_individuals .input-group-btn span.my_input_icon, #counterparties_services .input-group-btn span.my_input_icon, #counterparties_touristic .input-group-btn span.my_input_icon {
    font-size: 11px;
    bottom: 0;
}

span.my_selected_text_style {
    font-size: 0.875em;
    font-weight: bold;
}

#myCounterpartiesCreateModal .commentary{
    margin-bottom: 15px;
}

#counterpartiesMainModal.modal-body{
    margin-top: 0;
    padding: 0;
}

.counterparties_row {
    display: table;
    width:100%;
}

.counterparties_modal_menu.col-lg-2 {
    background-color: #dadde5;
    padding: 33px 30px 10px;
    float: none;
    display: table-cell;
}

.counterparties_modal_forms.col-lg-10 {
    padding-top: 25px;
    padding-left: 17px;
    padding-right: 17px;
    float: none;
    display: table-cell;
}

.counterparties_menu_list{
    margin-top: 25px;
    margin-left: 3px;
}

.counterparties_modal_menu span.my_selected_text_style{
    margin-left: 3px;
}

.counterparties_menu_list li{
    list-style-type: none;
    font-size: 0.875em;
}

.counterparties_menu_list a:hover, .counterparties_menu_list a:active, .counterparties_menu_list a:focus{
    text-decoration: none;
    color: #007fff;
    cursor: pointer;
}

.my_table_popup th{
    text-align: center;
}

/* counterparties create popup tab 3*/
#counterparties_contacts .col-md-10, #counterparties_contacts .col-md-2, #counterparties_contacts .col-md-12 {
    padding-left: 0;
    padding-right: 0;
}

/* counterparties individuals tab 4*/

#counterparties_individuals .col-md-10, #counterparties_individuals .col-md-2, #counterparties_individuals .col-md-12 {
    padding-left: 0;
    padding-right: 0;
}

/* counterparties individuals tab 5*/

#counterparties_services .col-md-10, #counterparties_services .col-md-2, #counterparties_services .col-md-12 {
    padding-left: 0;
    padding-right: 0;
}

/* counterparties individuals tab 6*/

#counterparties_touristic .col-md-10, #counterparties_touristic .col-md-2, #counterparties_touristic .col-md-12 {
    padding-left: 0;
    padding-right: 0;
} /* COUNTERPARTIES POPUP end */



/* INDIVIDUAL COUNTERPARTIES (COUNTERPARTIES CREATE POPUP) POPUP */

#indiviual_counterparties_passport_list .col-md-10, #indiviual_counterparties_passport_list .col-md-2, #indiviual_counterparties_passport_list .col-md-12 {
    padding-left: 0;
    padding-right: 0;
}

#indiviual_counterparties_personal_info .input-group-btn span.my_input_icon, #indiviual_counterparties_passport_list .input-group-btn span.my_input_icon, #indiviual_counterparties_contact_info .input-group-btn span.my_input_icon {
    font-size: 11px;
    bottom: 0;
}


#myIndividualCounterpartiesCreateModal .my_fieldset{
    margin-bottom: 10px;
}

#myIndividualCounterpartiesCreateModal h3.title_small_2{
    margin-top: 0px;
} /* INDIVIDUAL COUNTERPARTIES (COUNTERPARTIES CREATE POPUP) POPUP end */



/* CURATORS + COUNTERPARTIES POPUP */

#myCuratorsCounterpartiesModal .my_table_popup{
    margin-bottom: 10px;
} /* CURATORS + COUNTERPARTIES POPUP end */





