<!-- ------------------------------------------------------- GROUP ORDER (CREATE) POPUP --------------------------------------------------------- -->

<h2 class="ml-4 title_main_page_margin">Групове замовлення (створення) *</h2>

<!-- Modal Body -->
<div id="groupInvoicePopup">

  <div class="row my_menu_buttons">
    <div class="container col-md-12">
      <div class="col-md-10">
        <div class="pull-left button_right_margin">
          <button type="button" class="btn btn-default my_button_style bold">
            <span class="my_button_label">Провести та закрити</span>
          </button>
        </div>

        <div class="pull-left button_right_margin">
          <button type="button" class="btn btn-default my_button_style my_square_button" matTooltip="Провести">
            <span class="material-icons">offline_pin</span>
          </button>
        </div>

        <div class="pull-left button_right_margin">
          <button type="button" class="btn btn-default my_button_style my_square_button" matTooltip="Підбір">
            <span class="material-icons">filter_tilt_shift</span>
          </button>
        </div>

        <div class="btn-group pull-left button_right_margin">
          <button type="button" class="btn btn-default my_button_style dropdown-toggle" data-toggle="dropdown">

            <span class="my_menu_label_after">Друк</span>
            <span class="material-icons">keyboard_arrow_down</span>
          </button>
          <ul class="dropdown-menu my_dropdown_styles small_list" role="menu">
            <li>
              <a href="#">Друк акта</a>
            </li>
            <li>
              <a href="#">Друк накладної</a>
            </li>
            <li>
              <a href="#">Друк рахунка</a>
            </li>
            <li>
              <a href="#">Друк рахунка з печаткою</a>
            </li>
          </ul>
        </div>

        <div class="btn-group pull-left button_right_margin">
          <button type="button" class="btn btn-default my_button_style dropdown-toggle" data-toggle="dropdown">

            <span class="my_menu_label_after">Підбір</span>
            <span class="material-icons">keyboard_arrow_down</span>
          </button>
          <ul class="dropdown-menu my_dropdown_styles small_list" role="menu">
            <li>
              <a href="#">Some action</a>
            </li>
            <li>
              <a href="#">Some action</a>
            </li>
          </ul>
        </div>

        <div class="pull-left button_right_margin">
          <button type="button" class="btn btn-default my_button_style my_square_button" matTooltip="Записати">
            <span class="material-icons">save</span>
          </button>
        </div>

        <div class="pull-left button_right_margin">
          <button type="button" class="btn btn-default my_button_style my_square_button" matTooltip="Закрити">
            <span class="material-icons">close</span>
          </button>
        </div>

        <div class="pull-left button_right_margin">
          <button type="button" class="btn btn-default my_button_style my_square_button" matTooltip="Завантаження ONLINE бронювання">
            <span class="material-icons">vertical_align_bottom</span>
          </button>
        </div>
      </div>

      <!-- DropDown ALL Actions -->

      <div class="col-md-2">

        <div class="pull-right button_left_margin">
          <button type="button" class="btn btn-default my_button_style my_square_button" matTooltip="Довідка">
            <span class="material-icons">help_outline</span>
          </button>
        </div>

        <div class="btn-group pull-right">
          <button type="button" class="btn btn-default my_button_style dropdown-toggle" data-toggle="dropdown">

            <span class="my_menu_label_after">Всі дії</span>
            <span class="material-icons">keyboard_arrow_down</span>
          </button>
          <ul class="dropdown-menu my_dropdown_styles large_list" role="menu">
            <li>
              <a href="#">
                <div class="my_menu_icon">
                  <span class="material-icons">playlist_add</span>
                </div>
                <span class="my_menu_label">Створити</span>
              </a>
            </li>
            <li>
              <a href="#">
                <div class="my_menu_icon">
                  <span class="material-icons">filter_none</span>
                </div>
                <span class="my_menu_label">Скопіювати</span>
              </a>
            </li>
            <li>
              <a href="#">
                <div class="my_menu_icon">
                  <span class="material-icons">edit</span>
                </div>
                <span class="my_menu_label">Змінити</span>
              </a>
            </li>
            <li>
              <a href="#">
                <div class="my_menu_icon">
                  <span class="material-icons">remove_from_queue</span>
                </div>
                <span class="my_menu_label">Відмітити для вилучення / Зняти позначку</span>
              </a>
            </li>
            <li>
              <a href="#">
                <div class="my_menu_icon">
                  <span class="material-icons">refresh</span>
                </div>
                <span class="my_menu_label">Оновити</span>
              </a>
            </li>
            <li>
              <a href="#">
                <div class="my_menu_icon">
                  <span class="material-icons">swap_horiz</span>
                </div>
                <span class="my_menu_label">Встановити період...</span>
              </a>
            </li>
            <li>
              <a href="#">
                <div class="my_menu_icon">
                  <span class="material-icons">offline_pin</span>
                </div>
                <span class="my_menu_label">Провести</span>
              </a>
            </li>
            <li>
              <a href="#">
                <div class="my_menu_icon">
                  <span class="material-icons">highlight_off</span>
                </div>
                <span class="my_menu_label">Відмінити проведення</span>
              </a>
            </li>
            <li>
              <a href="#" class="empty_icon">
                <span class="pull-right"></span>Знайти: Дата - 14.08.2018
              </a>
            </li>
            <li>
              <a href="#">
                <div class="my_menu_icon">
                  <span class="material-icons">location_searching</span>
                </div>
                <span class="my_menu_label">Знайти...</span>
              </a>
            </li>
            <li>
              <a href="#">
                <div class="my_menu_icon">
                  <span class="material-icons">location_disabled</span>
                </div>
                <span class="my_menu_label">Відмінити пошук</span>
              </a>
            </li>
            <li>
              <a href="#">
                <div class="my_menu_icon">
                  <span class="material-icons">settings</span>
                </div>
                <span class="my_menu_label">Настроїти список...</span>
              </a>
            </li>
            <li>
              <a href="#">
                <div class="my_menu_icon">
                  <span class="material-icons">done_outline
                  </span>
                </div>
                <span class="my_menu_label">Вивести список...</span>
              </a>
            </li>
            <li>
              <a href="#">

                <div class="my_menu_icon">
                  <span class="material-icons"> filter_tilt_shift</span>
                </div>
                <span class="my_menu_label">Підбір</span>
              </a>
            </li>

            <li>
              <a href="#" class="empty_icon">

                <span class="my_menu_label">Друк</span>
                <div class="my_menu_icon">
                  <span class="material-icons"> chevron_right</span>
                </div>
              </a>
            </li>
            <li>
              <a href="#">

                <div class="my_menu_icon">
                  <span class="material-icons"> transform</span>
                </div>
                <span class="my_menu_label">Змінити форму...</span>

              </a>
            </li>
            <li>
              <a href="#">

                <div class="my_menu_icon">
                  <span class="material-icons"> help_outline</span>
                </div>
                <span class="my_menu_label">Довідка</span>
              </a>
            </li>
          </ul>
        </div>

      </div>
      <!-- DropDown ALL Actions end-->

    </div>
    <!--Container MENU Buttons End-->

  </div>
  <!--Row MENU Buttons End-->



  <!------------------------------------------- GROUP ORDER (CREATE) POPUP - FORM ------------------------------------------------>

  <div class="row my_popup_form">

    <form class="form-horizontal" role="form">
      <div class="form-group">
        <div class="my_input_style">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Номер" value="">
          </mat-form-field>
        </div>

        <div class="my_input_style ">
          <mat-form-field>
            <input matInput [matDatepicker]="picker" placeholder="Введіть дату">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>

        <div class="my_input_style">
          <mat-form-field class="example-form-field">
            <input matInput type="text" placeholder="Організація" />
            <button mat-button matSuffix mat-icon-button aria-label="Settings">
              <mat-icon>more_horiz</mat-icon>
            </button>
            <button mat-button matSuffix mat-icon-button aria-label="Search">
              <mat-icon>search</mat-icon>
            </button>
          </mat-form-field>
        </div>

        <div class="my_input_style ">
          <mat-checkbox class="" primary>Сплачено</mat-checkbox>
        </div>
      </div>



      <div class="form-group">

        <div class="my_input_style">
          <mat-form-field class="example-form-field">
            <input matInput type="text" placeholder="Клієнт" />
            <button mat-button matSuffix mat-icon-button aria-label="Settings">
              <mat-icon>more_horiz</mat-icon>
            </button>
            <button mat-button matSuffix mat-icon-button aria-label="Search">
              <mat-icon>search</mat-icon>
            </button>
          </mat-form-field>
        </div>

        <div class="my_input_style ">
          <mat-form-field>
            <input matInput [matDatepicker]="pickerPaid" placeholder="Дата сплати:">
            <mat-datepicker-toggle matSuffix [for]="pickerPaid"></mat-datepicker-toggle>
            <mat-datepicker #pickerPaid></mat-datepicker>
          </mat-form-field>
        </div>

        <div class="my_input_style ">
          <mat-form-field>
            <input matInput [matDatepicker]="pickerService" placeholder="Дата послуг:">
            <mat-datepicker-toggle matSuffix [for]="pickerService"></mat-datepicker-toggle>
            <mat-datepicker #pickerService></mat-datepicker>
          </mat-form-field>
        </div>

      </div>

      <div class="form-group">

        <div class="my_input_style">
          <mat-form-field class="example-form-field">
            <input matInput type="text" placeholder="Форма сплати:" />
            <button mat-button matSuffix mat-icon-button aria-label="Settings">
              <mat-icon>more_horiz</mat-icon>
            </button>
          </mat-form-field>
        </div>


        <div class="my_input_style">
          <mat-form-field class="example-form-field">
            <input matInput type="text" placeholder="Розрахунковий рахунок:" />
            <button mat-button matSuffix mat-icon-button aria-label="Settings">
              <mat-icon>more_horiz</mat-icon>
            </button>
            <button mat-button matSuffix mat-icon-button aria-label="Search">
              <mat-icon>search</mat-icon>
            </button>
          </mat-form-field>
        </div>


        <div class="my_input_style">

          <mat-form-field>
            <mat-select placeholder="Підсумкова валюта:">
              <mat-option *ngFor="let currency of currency" [value]="currency.value">
                {{ currency.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>

        </div>

        <div class="my_input_style">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Всього:" value="">
          </mat-form-field>
        </div>

      </div>

      <div class="row">

        <h3 class="title_small_2">Відбір:</h3>
        <div class="form-group">

          <div class="my_fieldset col-md-6">
            <div class="my_input_style my_input_style_header col-md-12 ">
              <h4 class="control-label text-left">За датою документу</h4>
            </div>


            <div class="my_input_style ">
              <mat-form-field>
                <input matInput [matDatepicker]="pickerStartDoc" placeholder="Дата початку:">
                <mat-datepicker-toggle matSuffix [for]="pickerStartDoc"></mat-datepicker-toggle>
                <mat-datepicker #pickerStartDoc></mat-datepicker>
              </mat-form-field>
            </div>


            <div class="my_input_style ">
              <mat-form-field>
                <input matInput [matDatepicker]="pickerEndDoc" placeholder="Дата завершення:">
                <mat-datepicker-toggle matSuffix [for]="pickerEndDoc"></mat-datepicker-toggle>
                <mat-datepicker #pickerEndDoc></mat-datepicker>
              </mat-form-field>
            </div>
          </div>

          <div class="my_fieldset col-lg-6">
            <div class="my_input_style my_input_style_header col-md-12 ">
              <h4 class="control-label text-left">За датою документу</h4>
            </div>

            <div class="my_input_style ">
              <mat-form-field>
                <input matInput [matDatepicker]="pickerStartDoc1" placeholder="Дата початку:">
                <mat-datepicker-toggle matSuffix [for]="pickerStartDoc1"></mat-datepicker-toggle>
                <mat-datepicker #pickerStartDoc1></mat-datepicker>
              </mat-form-field>
            </div>


            <div class="my_input_style ">
              <mat-form-field>
                <input matInput [matDatepicker]="pickerEndDoc1" placeholder="Дата завершення:">
                <mat-datepicker-toggle matSuffix [for]="pickerEndDoc1"></mat-datepicker-toggle>
                <mat-datepicker #pickerEndDoc1></mat-datepicker>
              </mat-form-field>
            </div>

          </div>
        </div>
      </div>


      <div id="my_table_controls" class="row">

        <div class="col-md-10">
          <!-- Table buttons -->
          <div class="pull-left button_right_margin">
            <button type="button" class="btn btn-default my_button_style my_square_button" matTooltip="Закрити">
              <span class="material-icons">close</span>
            </button>
          </div>

          <div class="pull-left button_right_margin">
            <button type="button" class="btn btn-default my_button_style my_square_button" matTooltip="Перемістити вверх">
              <span class="material-icons">arrow_downward</span>
            </button>
          </div>
          <div class="pull-left button_right_margin">
            <button type="button" class="btn btn-default my_button_style my_square_button" matTooltip="Перемістити вниз">
              <span class="material-icons">arrow_upward</span>
            </button>
          </div>
        </div>

        <!-- DropDown ALL Actions -->

        <div class="col-md-2">

          <div class="pull-right button_left_margin">
            <button type="button" class="btn btn-default my_button_style my_square_button" matTooltip="Довідка">
              <span class="material-icons">help_outline</span>
            </button>
          </div>

          <div class="btn-group pull-right">
            <button type="button" class="btn btn-default my_button_style dropdown-toggle" data-toggle="dropdown">

              <span class="my_menu_label_after">Всі дії</span>
              <span class="material-icons">keyboard_arrow_down</span>
            </button>
            <ul class="dropdown-menu my_dropdown_styles large_list" role="menu">
              <li>
                <a href="#">
                  <div class="my_menu_icon">
                    <span class="material-icons">edit</span>
                  </div>
                  <span class="my_menu_label">Змінити</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <div class="my_menu_icon">
                    <span class="material-icons">close</span>
                  </div>
                  <span class="my_menu_label">Вилучити</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <div class="my_menu_icon">
                    <span class="material-icons">save</span>
                  </div>
                  <span class="my_menu_label">Закінчити редагування</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <div class="my_menu_icon">
                    <span class="material-icons">location_searching</span>
                  </div>
                  <span class="my_menu_label">Знайти...</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <div class="my_menu_icon">
                    <span class="material-icons">location_disabled</span>
                  </div>
                  <span class="my_menu_label">Відмінити пошук</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <div class="my_menu_icon">
                    <span class="material-icons">arrow_upward</span>
                  </div>
                  <span class="my_menu_label">Перемістити вверх</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <div class="my_menu_icon">
                    <span class="material-icons">arrow_downward</span>
                  </div>
                  <span class="my_menu_label">Перемістити вниз</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <div class="my_menu_icon">
                    <span class="material-icons">sort</span>
                  </div>
                  <span class="my_menu_label">Сортувати за зростанням</span>
                </a>
              </li>

              <li>
                <a href="#">
                  <div class="my_menu_icon">
                    <span class="material-icons">low_priority</span>
                  </div>
                  <span class="my_menu_label">Сортувати за спаданням</span>
                </a>
              </li>

              <li>
                <a href="#">
                  <div class="my_menu_icon">
                    <span class="material-icons">done_outline</span>
                  </div>
                  <span class="my_menu_label">Вивести список...</span>
                </a>
              </li>
            </ul>
          </div>

        </div>
        <!-- DropDown ALL Actions end-->

      </div>

      <!------------------------------------------- TABLE -------------------------------------------->
      <div class="row">
        <div id="my_table_popup" class="my_table_style table-responsive col-md-12">
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th class="code_column">N</th>
                <th>Рахунок</th>
                <th>Послуги агенства</th>
                <th>% банку</th>
                <th>Сума до...</th>
                <th>Зміст</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>


      <!-- Angular Material Tabs -->
      <mat-tab-group>
        <mat-tab activelabel label="Зміст документу">
          <div id="document_content">

            <div class="form-group">
              <div class="my_input_style input-full-screen col-md-12">
                <mat-form-field>
                  <input matInput placeholder="Номер:">
                </mat-form-field>
              </div>
            </div>

            <div class="form-group">
              <div class="my_input_style input-full-screen col-md-12">
                <mat-form-field>
                  <input matInput placeholder="Коментар:">
                </mat-form-field>
              </div>
            </div>

            <div class="form-group">

              <div class="my_input_style">
                <mat-form-field class="example-form-field">
                  <input matInput type="text" placeholder="Відповідальний:" />
                  <button mat-button matSuffix mat-icon-button aria-label="Settings">
                    <mat-icon>more_horiz</mat-icon>
                  </button>
                  <button mat-button matSuffix mat-icon-button aria-label="Search">
                    <mat-icon>search</mat-icon>
                  </button>
                </mat-form-field>
              </div>

              <div class="my_input_style">
                <mat-form-field class="example-form-field">
                  <input matInput type="text" placeholder="Агент:" />
                  <button mat-button matSuffix mat-icon-button aria-label="Settings">
                    <mat-icon>more_horiz</mat-icon>
                  </button>
                  <button mat-button matSuffix mat-icon-button aria-label="Search">
                    <mat-icon>search</mat-icon>
                  </button>
                </mat-form-field>
              </div>

              <div class="my_input_style">
                <mat-form-field class="example-form-field">
                  <input matInput type="text" placeholder="Куратор:" />
                  <button mat-button matSuffix mat-icon-button aria-label="Settings">
                    <mat-icon>more_horiz</mat-icon>
                  </button>
                  <button mat-button matSuffix mat-icon-button aria-label="Search">
                    <mat-icon>search</mat-icon>
                  </button>
                </mat-form-field>
              </div>

              <div class="my_input_style ">
                <mat-checkbox class="" primary>Без реалізації:</mat-checkbox>
              </div>

            </div>

          </div>
        </mat-tab>
        <!-- TAB 1 - END -->

        <mat-tab label="Загальний рахунок">
          <!-- TAB 2 - START -->
          <div id="total_amount">

            <div class="form-group my_input_style">
              <div class="my_input_style">
                <mat-checkbox class="" primary>Загальний рахунок:</mat-checkbox>
              </div>
            </div>
            <div class="form-group my_input_style">
              <mat-form-field class="col-md-12">
                <textarea matInput placeholder="Зміст для загального рахунку та акта:"></textarea>
              </mat-form-field>
            </div>
          </div>
        </mat-tab>
        <!-- TAB 2 - END -->



        <mat-tab label="Сплати">
          <!-- TAB 3 - START -->

          <div id="bills">

            <div id="my_table_controls2" class="clearfix-overflow">

              <div class="buttons-float-left">
                <!-- Table buttons -->
                <div class="pull-left button_right_margin">
                  <button type="button" class="btn btn-default my_button_style my_square_button" matTooltip="Знайти">
                    <span class="material-icons">location_searching</span>
                  </button>
                </div>

                <div class="pull-left button_right_margin">
                  <button type="button" class="btn btn-default my_button_style my_square_button" matTooltip="Відмінити пошук">
                    <span class="material-icons">location_disabled</span>
                  </button>
                </div>
              </div>

              <!-- DropDown ALL Actions -->

              <div class="buttons-float-right">


                <div class="btn-group pull-right">
                  <button type="button" class="btn btn-default my_button_style dropdown-toggle" data-toggle="dropdown">

                    <span class="my_menu_label_after">Всі дії</span>
                    <span class="material-icons">keyboard_arrow_down</span>
                  </button>
                  <ul class="dropdown-menu my_dropdown_styles large_list" role="menu">
                    <li>
                      <a href="#">
                        <div class="my_menu_icon">
                          <span class="material-icons">filter_none</span>
                        </div>
                        <span class="my_menu_label">Скопіювати</span>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <div class="my_menu_icon">
                          <span class="material-icons">edit</span>
                        </div>
                        <span class="my_menu_label">Змінити</span>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <div class="my_menu_icon">
                          <span class="material-icons">save</span>
                        </div>
                        <span class="my_menu_label">Вилучити</span>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <div class="my_menu_icon">
                          <span class="material-icons">done_outline
                          </span>
                        </div>
                        <span class="my_menu_label">Вивести список...</span>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <div class="my_menu_icon">
                          <span class="material-icons">save</span>
                        </div>
                        <span class="my_menu_label">Закінчити редагування</span>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <div class="my_menu_icon">
                          <span class="material-icons">location_searching</span>
                        </div>
                        <span class="my_menu_label">Знайти...</span>
                      </a>
                    </li>
                  </ul>
                </div>

              </div>
              <!-- my_table_controls2 end -->
              <!-- DropDown ALL Actions end-->

            </div>

            <div class="col-md-12">
              <div id="my_table_popup_tab3" class="my_table_style table-responsive ">
                <table class="table table-bordered table-hover">
                  <thead>
                    <tr>
                      <th>Контрагент</th>
                      <th>Документ сплати</th>
                      <th class="code_column">Сума</th>
                      <th>Валюта</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

            <!-- Table Tab 3 end -->
          </div>

          <!-- СПЛАТИ end -->
        </mat-tab>
      </mat-tab-group>
    </form>
  </div>
  <!-- Invoice Popup Row End -->
  <!--------------------------------------- GROUP ORDER (CREATE) POPUP - FORM - END ------------------------------------------------>

  <div id="groupInvoiceModalFooter" class="clearfix-overflow">
    <div class="pull-right button_right_margin">
      <button type="button" class="btn btn-default my_button_style bold" (click)="closePopup()">
        <span class="my_button_label">Закрити</span>

      </button>
    </div>

  </div>
</div>
<!-- Modal Body End -->


<!-- Modal Content End -->


<!---------------------------------------------------- GROUP ORDER (CREATE) POPUP - END ----------------------------------------------------------->