/* From GroupInvoicePopup.css */

div#bills{
    padding-bottom: 35px;
}

div#document_content{
    padding-bottom: calc(35px - 1.25em);
}


div#invoicePopup {
    padding: 15px !important;
}

::ng-deep .mat-checkbox-checked .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: #7db0db !important;
}

::ng-deep .mat-checkbox-frame {
    border: 1px solid grey !important;
}

::ng-deep .mat-ripple-element {
    background: rgba(27, 142, 241, .4) !important;
}

::ng-deep .mat-tab-label-active {
    background-color: #dadde5 !important;
}

::ng-deep .mat-tab-label-content {
    color: black !important;
}

::ng-deep .mat-empty {
    color: black !important;
}

.form-group {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.form-group div.my_input_style {
    padding-right: 15px;
    display: inline-block;
}

#invoicePopup .my_button_label {
    bottom: 0;
    left: 0;
}

#invoicePopup div.row.my_menu_buttons {
    margin-top: 10px;
    margin-right: -30px;
    margin-left: -30px;
}

#my_table_controls .col-md-10, #my_table_controls .col-md-2 {
    padding: 0px 15px 0px 15px;
    margin-top: -5px;
}

#my_table_controls2 .col-md-10, #my_table_controls2 .col-md-2 {
    padding: 0px 15px 0px 15px;
    margin-top: -5px;
}

.formFieldWidth480 .mat-form-field-infix {
    width: 480px;
}

#document_content .form-group:last-child {
    margin-bottom: 0px;
}

div#document_content {
    margin-top: 18px;
}

.mat-form-field.input-full-screen {
    display: flex;
    flex-direction: column;
}

.input-full-screen>* {
    width: 100%;
}

.form-group div.my_input_style.input-full-screen {
    padding-right: 0px;
}

#total_amount .form-group {
    margin-top: 18px;
}

#total_amount .form-group:last-child {
    margin-bottom: 18px;
}

#total_amount .mat-form-field{
    padding-right: 0;
    padding-left: 0;
}

#my_table_popup_tab3 table{
    width: 100%;
}

#my_table_popup_tab3.my_table_style{
    margin-left: 0;
}

#my_table_popup.my_table_style {
    margin-top: 18px;
    margin-bottom:35px;
    padding-right: 30px;
}

#my_table_popup_tab3.my_table_style{
    margin-bottom:0px;
    padding-right: 0px;
}

div#bills{
    overflow: hidden;
}

#groupInvoicePopup #bills span.my_button_label{
    bottom: 4px;
}


div#groupInvoiceModalFooter span.my_button_label{
    left:0;
    bottom: 0;
}

#my_table_popup.my_table_style {
    margin-top: 18px;
    margin-bottom:35px;
    padding-right: 30px;
}

#my_table_popup_tab3.my_table_style{
    margin-bottom:0px;
    padding-right: 0px;
}  /* From GroupInvoicePopup.css End */


div#invoicePopup h2.title_main_page_margin{
    margin-top:0 !important;
}

span.my_menu_label_after{
    position: relative;
    bottom: 5px !important;
}

span.material-icons{
    top:0 !important;
}

.my_input_style mat-checkbox{
    margin-right: 15px;
}

.my_input_style.my_ng_checkbox{
    margin-top: 18px;
    margin-bottom: 10px;
}

mat-tab-content{
    margin-left: -15px;
    margin-right: -15px;
}

.my_popup_form {
    margin-top: 25px;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

#detail{
    padding-top: 18px ;
}

.my_input_style h4.column-title{
    margin-top: 35px;
}


div.relative-parent{
    position: relative;
    padding-left: 0px;
}

div#colum-title_4inputs.my_input_style_header{
    position: relative;
    top: 28px;
}

div.weird-columns h4{
    margin-top: -20px !important;
}

div.my_last_margin-bottom{
    margin-bottom: 35px !important;
}

div#colum-title_5inputs.my_input_style_header{
    position: relative;
    top: 33px;
}

div.weird-columns2 h4{
    margin-top: -45px !important;
}

div#additional_information{
    margin-top: 38px;
    margin-bottom: 18px;
}

div#invoiceModalFooter span.my_button_label{
    left:0;
    bottom: 0;
}
