
/* FORM STYLES */
h2 span {
    font-size: 0.688em;
    display: inline-block;
    margin-left: 5px;
    color: #2b303b;
}

.form-horizontal .form-group{
    margin-right: 0;
    margin-left: 0;
}

.form-group{
    margin-bottom: 10px;
}

.form-group.my_last_margin-bottom{
    margin-bottom: 20px;
}

.all_flight_info.form-group {
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 0;
    padding-bottom: 20px;
    border-bottom: 1px solid #dbdbdb;
}

.all_flight_info{
    text-align: center;
}

label {
    font-weight: 500;
    color: #2b303b;
    font-size: 0.813em;
    margin-bottom: 5px !important;
}

label.control-label{
    padding-top: 0px !important;
}

#invoice_form{
    margin-top: 25px;
    padding-left: 13px;
    padding-right: 13px;
}

/* INPUT STYLES */

input.form-control {
    height: 25px;
}

.input-group-btn button.btn.btn-default{
    height: 25px;
    padding: 6px;
}

.input-group-btn span.my_input_icon {
    font-size: 11px;
    position: relative;
    bottom: 5px;
}

#tickets .input-group-btn span.my_input_icon {
    font-size: 11px;
    position: relative;
    bottom: 0;
}

#document_content .input-group-btn span.my_input_icon {
    font-size: 11px;
    bottom: 0;
}

.my_tabinput_text_padding {
    padding: 5px 10px 3px;
}

.my_input_style {
    padding-right: 2px;
    padding-left: 2px;
}

.my_input_style.zero_padding_left{
    padding-left: 0;
}

.my_input_style label{
    padding-left: 1px;
}

.my_input_style h4 {
    text-align: left !important;
}

.form-control::placeholder {
    color: #788195;
    opacity: 0.6;
    font-size: 1em;
}

input[type=checkbox].form-control{
    margin-top: 0;
    margin-left: 1px;
    width: auto;
    height: auto;
    outline: none;
}

input[type="text"] {
    font-size: 0.875em;
}


/* Horizontal Divider */
#invoice_form hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

/* TABS STYLES */

#invoice_tabs{
    margin-top: 15px;
    padding-left: 5px;
    padding-right: 5px;
}

.my_input_style_sm {
    padding-left: 2px;
    padding-right: 2px;
}

.last_input_margin_top{
    margin-top: 20px;
}

.my_input_style h4 {
    font-size: 0.875em;
    font-weight: bold;
    color: #788195;
    margin-top: 2px;
}

.my_flight_info label {
    font-weight: 600;
    font-size: 0.875em;
    color: #2b303b;
    margin-left: 2px;
    text-align: left;
}

select.form-control {
    height: 25px;
    padding: 4px 8px;
    font-size: 0.875em;
    color: #555;
}

option{
    display: inline-block;
}

.traveller_info{
    margin-bottom: 25px;
}

.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
    font-size: 0.875em !important;
}

.ui-widget-header {
    background-color: #dadde5 !important;
    border: none;
    border-radius: unset;
}

.ui-helper-reset{
    line-height: 22px !important;
}

div#tabs, div#tabs1 {
    padding: 0;
    background-color: #f5f5f5;
    
}

.ui-widget.ui-widget-content {
    margin-left: 2px;
    margin-right: 2px;
    border: 1px solid #ccc;
}

a#ui-id-1.ui-tabs-anchor, a#ui-id-2.ui-tabs-anchor, a#ui-id-3.ui-tabs-anchor, a#ui-id-4.ui-tabs-anchor, a#ui-id-5.ui-tabs-anchor, a#ui-id-6.ui-tabs-anchor {
    color: #2b303b !important;
    font-size: 0.875em;
    outline: none !important;
    cursor: pointer;
}

a#ui-id-7.ui-tabs-anchor, a#ui-id-8.ui-tabs-anchor, a#ui-id-9.ui-tabs-anchor {
    color: #2b303b !important;
    font-size: 0.875em;
    outline: none !important;
    cursor: pointer;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
    background-color: #7db0db !important;
    border: none !important;
    font-weight: bold;
}

.ui-tabs .ui-tabs-panel{
    padding: 1.4em 1.4em !important;
}

#race .col-md-10, #race .col-md-2, #race .col-md-12{
    padding-left: 0;
    padding-right: 0;
}

#tickets .col-md-10, #tickets .col-md-2, #tickets .col-md-12 {
    padding-left: 0;
    padding-right: 0;
}

#bills .table-responsive {
    padding-left: 0;
    padding-right: 0;
}


#bills .col-md-10, #bills .col-md-2, #bills .col-md-12 {
    padding-left: 0;
    padding-right: 0;
}

#bills .table, #tickets .table, #race .table {
    margin-bottom: 0;
}

/* GROUP ORDER POPUP */
.my_popup_form {
    margin-top: 25px;
    padding-left: 13px;
    padding-right: 13px;
}

.my_input_style h4 {
    margin-top: 10px;
    padding-bottom: 7px;
    margin-bottom: 12px !important;
    border-bottom: 1px solid #dbdbdb;
}

.zero-margin-top{
    margin-top: 0px !important;
}

#my_table_controls .col-md-10, #my_table_controls .col-md-2{
    padding:0;
}

#total_amount .form-group {
    margin-bottom: 0;
}

#total_amount .my_input_style{
    padding-left: 0 !important;
}

#document_content .form-group:last-child{
    margin-bottom:0;
}

/* GROUP ORDER POPUP -- end */

/* FIND POPUP -- Airports */
#my_find_form {
    margin-top: 0;
}

.my_radio_buttons {
    vertical-align: middle;
}

.my_radio_class {
    position: relative;
    top: 5px;
}

.my_input_style .radio-inline{
    margin-left: 25px;
}

.my_radio_label {
    margin-bottom: 0 !important;
    position: relative;
    top: 1px;
    margin-right: 15px;
}

/*FIND POPUP -- Airports -- end*/

/* CONTRACTS POPUP */

#contracts_main_tab h3.title_small_2{
    margin-bottom: 15px;
    margin-top: 10px;
}

.my_input_style.commentary{
    margin-top: 2px;
}

#contracts_main_tab .input-group-btn span.my_input_icon, #accounting_tax .input-group-btn span.my_input_icon {
    font-size: 11px;
    bottom: 0;
}

.my_checkbox_label-align{
    text-align: left !important;
}

/* COUNTERPARTIES POPUP */

/* counterparties create popup layout */

#counterparties_general .input-group-btn span.my_input_icon, #counterparties_others .input-group-btn span.my_input_icon, #counterparties_contacts .input-group-btn span.my_input_icon, #counterparties_individuals .input-group-btn span.my_input_icon, #counterparties_services .input-group-btn span.my_input_icon, #counterparties_touristic .input-group-btn span.my_input_icon {
    font-size: 11px;
    bottom: 0;
}

span.my_selected_text_style {
    font-size: 0.875em;
    font-weight: bold;
}

#myCounterpartiesCreateModal .commentary{
    margin-bottom: 15px;
}

#counterpartiesMainModal.modal-body{
    margin-top: 0;
    padding: 0;
}

.counterparties_row {
    display: table;
    width:100%;
}

.counterparties_modal_menu.col-lg-2 {
    background-color: #dadde5;
    padding: 33px 30px 10px;
    float: none;
    display: table-cell;
}

.counterparties_modal_forms.col-lg-10 {
    padding-top: 25px;
    padding-left: 17px;
    padding-right: 17px;
    float: none;
    display: table-cell;
}

.counterparties_menu_list{
    margin-top: 25px;
    margin-left: 3px;
}

.counterparties_modal_menu span.my_selected_text_style{
    margin-left: 3px;
}

.counterparties_menu_list li{
    list-style-type: none;
    font-size: 0.875em;
}

.counterparties_menu_list a:hover, .counterparties_menu_list a:active, .counterparties_menu_list a:focus{
    text-decoration: none;
    color: #007fff;
    cursor: pointer;
}

.my_table_popup th{
    text-align: center;
}

/* counterparties create popup tab 3*/
#counterparties_contacts .col-md-10, #counterparties_contacts .col-md-2, #counterparties_contacts .col-md-12 {
    padding-left: 0;
    padding-right: 0;
}

/* counterparties individuals tab 4*/

#counterparties_individuals .col-md-10, #counterparties_individuals .col-md-2, #counterparties_individuals .col-md-12 {
    padding-left: 0;
    padding-right: 0;
}

/* counterparties individuals tab 5*/

#counterparties_services .col-md-10, #counterparties_services .col-md-2, #counterparties_services .col-md-12 {
    padding-left: 0;
    padding-right: 0;
}

/* counterparties individuals tab 6*/

#counterparties_touristic .col-md-10, #counterparties_touristic .col-md-2, #counterparties_touristic .col-md-12 {
    padding-left: 0;
    padding-right: 0;
}

/* INDIVIDUAL COUNTERPARTIES (COUNTERPARTIES CREATE POPUP) POPUP */


#indiviual_counterparties_passport_list .col-md-10, #indiviual_counterparties_passport_list .col-md-2, #indiviual_counterparties_passport_list .col-md-12 {
    padding-left: 0;
    padding-right: 0;
}

#indiviual_counterparties_personal_info .input-group-btn span.my_input_icon, #indiviual_counterparties_passport_list .input-group-btn span.my_input_icon, #indiviual_counterparties_contact_info .input-group-btn span.my_input_icon {
    font-size: 11px;
    bottom: 0;
}


#myIndividualCounterpartiesCreateModal .my_fieldset{
    margin-bottom: 10px;
}

#myIndividualCounterpartiesCreateModal h3.title_small_2{
    margin-top: 0px;
}

/* CURATORS + COUNTERPARTIES POPUP */

#myCuratorsCounterpartiesModal .my_table_popup{
    margin-bottom: 10px;
}

/* NOMENCLATURE CREATE POPUP */

#nomenclature_main_tab .input-group-btn span.my_input_icon {
    font-size: 11px;
    bottom: 0;
}

/* nomenclature_units tab*/

#nomenclature_units .col-md-10, #nomenclature_units .col-md-2, #nomenclature_units .col-md-12 {
    padding-left: 0;
    padding-right: 0;
}

