/* NOMENCLATURE CREATE POPUP */

#nomenclature_main_tab .input-group-btn span.my_input_icon {
    font-size: 11px;
    bottom: 0;
}

/* nomenclature_units tab*/

#nomenclature_units .col-md-10, #nomenclature_units .col-md-2, #nomenclature_units .col-md-12 {
    padding-left: 0;
    padding-right: 0;
} /* NOMENCLATURE CREATE POPUP end */