<h2 class="title_small title_main_page_margin">Авіакомпанії</h2>

   <!---------------------------------------------------- AVIACOMPANY MAIN - MENU BAR ------------------------------------------------------->
<div class="row">

    <div class="container col-md-12 menu_no_padding">
        <div class="col-md-10">

            <div class="pull-left button_right_margin">
                <button type="button" class="btn btn-default my_button_style my_square_button" title="Змінити">
                    <span class="fa fa-pencil"></span>
                </button>
            </div>

            <div class="pull-left button_right_margin" data-toggle="modal" data-target="#myAirportsFindModal">
                <button type="button" class="btn btn-default my_button_style bold">
                    <span class="fa fa-search"></span>
                    Знайти
                </button>
            </div>

            <div class="pull-left button_right_margin">
                <button type="button" class="btn btn-default my_button_style my_square_button" title="Відмінити пошук">
                    <span class="fa fa-search-minus"></span>
                </button>
            </div>

        </div>

        <!-- DropDown ALL Actions -->

        <div class="col-md-2">
            @* DropDown Menu All *@

            <div class="pull-right button_left_margin">
                <button type="button" class="btn btn-default my_button_style my_square_button" title="Довідка">
                    <span class="fa fa-question"></span>
                </button>
            </div>

            <div class="btn-group pull-right">
                <button type="button" class="btn btn-default my_button_style dropdown-toggle" data-toggle="dropdown">
                    Всі дії
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu my_dropdown_styles airports_main_dropdown" role="menu">
                    <li>
                        <a href="#"><span class="fa fa-pencil"></span>Змінити</a>
                    </li>
                    <li>
                        <a href="#"><span class="fa fa-refresh"></span>Оновити</a>
                    </li>
                    <li>
                        <a href="#" class="empty_icon"><span class="pull-right"></span>Знайти: Зараз немає поточного значення для пошуку</a>
                    </li>
                    <li>
                        <a href="#"><span class="fa fa-search"></span>Знайти...</a>
                    </li>
                    <li>
                        <a href="#"><span class="fa fa-search-minus"></span>Відмінити пошук</a>
                    </li>

                    <li>
                        <a href="#"><span class="fa fa-cog"></span>Настроїти список...</a>
                    </li>

                    <li>
                        <a href="#"><span class="fa fa-upload"></span>Вивести список...</a>
                    </li>

                    <li>
                        <a href="#"><span class="fa fa-sliders"></span>Змінити форму...</a>
                    </li>
                    <li>
                        <a href="#"><span class="fa fa-search"></span>Довідка</a>
                    </li>
                </ul>
            </div>

        </div><!-- DropDown ALL Actions end-->

    </div> <!--Container MENU Buttons End-->

</div> <!--Row MENU Buttons End-->
<!---------------------------------------------------- AVIACOMPANY MAIN - MENU BAR END ------------------------------------------------------->
<!-------------------------------------------------------------- TABLE AVIACOMPANY ----------------------------------------------------------->

<div class="row my_table_style">
    <div class="table-responsive col-md-12">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Найменування</th>
                    <th class="code_column">Код</th>
                    <th class="code_column">Код</th>
                    <th class="code_column">IATA</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<!------------------------------------------------------------- TABLE AVIACOMPANY - END ---------------------------------------------------------->
<!--------------------------------------------------------- AVIACOMPANY (FIND) - POPUP ----------------------------------------------------------->

<div id="myAirportsFindModal" class="modal fade" role="dialog">
    <div class="modal-dialog my_modal_sm">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h2 class="modal-title title_small">Знайти</h2>
            </div>
            <!-- Modal Body -->
            <div class="modal-body">

                <!------------------------------------------- AVIACOMPANY (FIND) POPUP - FORM ------------------------------------------------>

                <div id="my_find_form" class="row my_popup_form">

                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <div class="my_input_style col-lg-12 col-md-12 col-sm-12">
                                <label for="sel1">Де шукати</label>
                                <select class="my_input_style form-control my_select_style" id="sel1">
                                    <option>Країна на українській</option>
                                    <option>Країна на англійській</option>
                                    <option>Країна на російській</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="my_input_style col-lg-12 col-md-12 col-sm-12">
                                <label class="control-label">Що шукати</label>
                                <input type="text" class="form-control" />
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="my_input_style col-lg-12 col-md-12 my_radio_buttons">
                                <label class="control-label my_radio_label">Як шукати:</label>
                                <label class="radio-inline"><input type="radio" name="optradio" class="my_radio_class">За початком рядка</label>
                                <label class="radio-inline"><input type="radio" name="optradio" class="my_radio_class">За частинкою рядка</label>
                                <label class="radio-inline"><input type="radio" name="optradio" class="my_radio_class">За точним збігом</label>
                            </div>
                        </div>

                    </form>
                </div> <!-- Airports Popup Form Row End -->
                <!--------------------------------------- AVIACOMPANY (FIND) POPUP - FORM - END ------------------------------------------------>

            </div> <!-- Modal Body End -->
            <div class="modal-footer">
                <div class="pull-right button_left_margin">
                    <button type="button" class="btn btn-default my_button_style my_square_button outer_modal_footer_button" title="Довідка">
                        <span class="fa fa-question"></span>
                    </button>
                </div>
                <div class="pull-right button_right_margin" data-dismiss="modal">
                    <button type="button" class="btn btn-default my_button_style">
                        Закрити
                    </button>
                </div>

                <div class="pull-right button_right_margin">
                    <button type="button" class="btn btn-default my_button_style bold">
                        <span class="fa fa-search-minus"></span>
                        Знайти
                    </button>
                </div>

            </div>
        </div> <!-- Modal Content End -->
    </div> <!-- Modal Dialog End-->
</div>

<!---------------------------------------------------- AVIACOMPANY (FIND) POPUP - END --------------------------------------------------------------->